---
Language: Java
AccessModifierOffset: -2
IndentWidth: 4
ColumnLimit: 120
ContinuationIndentWidth: 4
SpacesBeforeParens: ControlStatements
IndentBraces: false
BreakBeforeBinaryOperators: All
BreakBeforeBraces: Attach
SortIncludes: true
UseTab: Never
